.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.quotes-upload-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.custom-popup {
  width: 100%;
}
.popup-content {
  width: 80%;
}
.fill-all-details {
  color: red;
  font-family: inter;
}
.quotes-uploaded-message {
  color: blue;
  font-family: inter;
}
.trigger-button {
  background: blue;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.upload-button {
  background: transparent;
  border: 1px solid lightblue;
  color: lightblue;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
@media all and (min-width: 580px) {
  .popup-content {
    width: 36%;
  }
  .trigger-button {
    min-height: 108px;
  }
}
